body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #8d8741;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 175px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color:white;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color:#37331f;
    text-align: center;
}

.card-text {
    text-align: center;
    width:fit-content;
    color:#37331f;
}

.sub {
    font-size: 18px;
    color: white; 
}

#action-sub {
    font-size: 18px;
    color: white;
    margin-top: 5px;
}

#action-hero {
    font-size: 24px;
    color: white;;
    font-weight: bolder;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 36px;
    list-style-type: none;
    align-items: center;
    text-decoration: none;
}

#hero-container {
    display: flex;
    padding: 25px 175px 75px 175px;
    background-color: #8d8741;
    gap: 75px;  
}

#top-button {
    background-color: #659DBD;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 12px;
    border-style: none;
    font-weight: bold;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.cardimg {
    border-style: solid;
    border-color:#DAAD86;
    border-radius: 12px;
    padding: 10px;
    width: 150px;
    height: auto;
}

#heroimg {
    width: 400px;
    height: auto;
}

#quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 175px 75px 175px;
    justify-content: space-around;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #37331f;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
}

#author {
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    color: #37331f;
}

#action-window {
    display: flex;
    justify-content: center;
    padding: 100px 175px;
}

#action-box {
    display: flex;
    background-color: #659DBD;
    padding: 25px 75px;
    border-radius: 12px;
    gap: 150px;
}

#action-right {
    align-self: center;
}


#action-button {
    background-color:#659DBD;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
    padding: 12px 50px;
}

#hero-left {
    min-width: 287px;
}

#footer {
    display: flex;
    background-color: #8d8741;
    justify-content: center;
    align-items: center;
    padding: 1px 175px;
}